*{
	margin: 0;
	padding: 0;
}
@font-face {
     font-family: korolevbold;
     src: url('KorolevBold.woff');
}
@font-face {
	font-family: korolevheavy;
	src: url('KorolevHeavy.woff');
}
@font-face {
	font-family: korolevligth;
	src: url('KorolevLight.woff');
}
@font-face {
	font-family: KorolevMedium;
	src: url('KorolevMedium.woff');
}
@font-face {
	font-family: KorolevMediumItalic;
	src: url('KorolevMediumItalic.woff');
}
.header{
	height: 100vh;
	background: url('assets/imgheader.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
/*.filtro{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, rgba(150, 217, 252, 0.3), rgba(235, 38, 143, 0.3));
	position: absolute;
	left: 200px;
}*/
.menurolativo{
	position: fixed;
}
.menu{
	width: 200px;
	height: 100vh;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.imgmenu{
	width: 190px;
	margin-top: 30px;
}
.imgmenino{
	width: 300px;
	position: absolute;
	left: 6%;
	bottom: 1px;
}
.h1menu{
	color: #fff;
	font-family: korolevheavy, sans-serif;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	top: 23%;
	left: 37%;
}
.textomenu{
	margin: 20%;
	display: flex;
	flex-direction: column;
}
.linkmenu{
	margin: 5px;
	color: #A6538D;
	font-family: "korolevbold", sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.menures{
	display: none;
}
#linkmenu:hover{
	color: red;
}
.hambuerguer{

	margin: 2px;
	height: 5px;
	width: 30px;
	cursor: pointer;
	background: #A6538D;
}
.divnuvem{
	width: 100vw;
	height: 30vh;
	position: fixed;
	top: 70%;
	z-index: 99;
}
.nuvem{
	width: 100vw;
	height: 30vh;
	position: absolute;
	/*z-index: 99;*/
}
main{
	width: 100%;
	height: 100vh;
	margin-left: -2%;
	background-color: #EB268F;
	display: flex;
	justify-content: flex-end;
}
.sec_ativ{
	height:100vh;
	width: 80vw;
	position: relative;
}
.sec_ativ_div{
	height:60%;
	width: 35%;
	margin: 70px 40px;
	display: flex;
	flex-direction:column;
	 
}
.sec_ativ_p{
	padding-bottom:25px;
	color: #FFFFFF;
	font: 30px korolev-Medium, sans-serif;
	font-size: 17px;
}
.sec_ativ_div2{
	width: 100%;
	height: 50% ;
	display: flex;
	/*justify-content: flex-end;
	align-items: flex-end;*/
	flex-direction: column;
	/*flex-flow: row nowrap;*/
	/*background-color: gray;*/
}
.sec_ativ_div2-seta{
	width: 20px;
}
.seta_esq{
	margin: 0 15px;
	position: absolute;
	top: 15%; 
	left:-30%;
}
.sec_ativ_div2_p{
	height: 50px;
	width: 90px;
	margin-left: 10px;
	color: #FFFFFF;
	font: 30px KorolevLight, sans-serif;
	font-size: 13px;
	/*background-color: green;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec_ativ_div3{
	height: 400px;
	width: 600px;
	margin-top: 100px;
	position: absolute;
	right: -23.6%;
	top: -400%;

}
.sec_ativ_div3_img{
	height: 372px;
	width: 500px;
	position: absolute;
	right: 42%;
	top: 60%;
}
footer{
	width: 100%;
	display: flex;
	flex direction: row;
	justify-content: flex-end;
	position: relative;
}
.h1parceiros{
	color: #A6538D;
	font-family: "korolevbold", sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-decoration: none;
}
.parceiros{
	width: 70vw;
	margin-top: 70px;
	margin-bottom: 100px;
	position: relative;
	left: 200px;
}
.logos{
	width: 70vw;
}
.logo1, .logo2, .logo3{
	width: 100px;
	margin: 50px;
}
.divcolumn{
	display: flex;
	flex-direction: column; 
}
.backgroundctts{
	width: 100%;
	height: 100vh;
	padding-right: -50%;
	background: #A6538D;
	color: #fff; 
	font-family: korolevbold, Sans-serif;
	display: flex;
	flex-direction: column;
}
.h1contato{
	margin: 80px 0 40px 60px;
	color: #96D9FC;
	font: 30px korolevbold, Sans-serif;
	font-weight: bold;
}
.divcontatos{
	margin-left: 60px;
}
.numero, .facebook{
	color: yellow;
}
.imgdofooter_img{
	margin: 0;
	padding: 0;
	width: 500px;
	position: absolute;
	top:30%;
	left: 61%;
}
.vainaweb_img{
	width: 5%;
	height: 5%;
	position: absolute;
	top: 90%;
	right: 65%;
	z-index: 99;
}
.vainaweb_p{
	color: black;
	font-size: 18px;
	/*opacity: 100%;*/
	font-weight: bold;
	position: absolute;
	top: 92%;
	right: 70%;
	z-index: 99;
}
@media (max-width:768px){
	.background{
		flex-flow: column-reverse nowrap;
	}
	.header{
		margin:0;
		padding: 0;
		width: 100vw;
		/*height: 100vh;*/
	}
	.h1menu{
		font-size: 36px;
		text-align: left;
		position: absolute;
		top: 30%;
	}
	.imgmenino{
		width: 198px;
		height: 340px;
		position: absolute;
		left: 2%;
		/*top: 50%;*/
	}
	.sec_ativ_p{
		margin: 0 5%;
		font-size: 16px;

	}
	.sec_ativ_div3_img{
		width: 450px;
		height: 260px;
		margin-left: 500px;
		top: 500px;
	}
	.sec_ativ_div2{
		right: 120px;
		bottom: 10px;
	}
	.logos{	
		display: flex;
		position: relative;
		justify-content: center;
		/*margin-left: -50%;*/
	}
	.nuvem{
		margin: 0;
		padding: 0;
		width: 100%;
		height: 36vh;
		position: fixed;
		right: 12%;
		bottom: -2%;
	}
	.hambuerguer{
		margin: 2px;
		height: 5px;
		position: relative;
		top: -20%;
		cursor: pointer;
	}
	.menures{
		display: block;
		margin-top: 6%;
	}
	.textomenu{
		position: absolute;
		top: -190px;
		flex-wrap: wrap;
		background-color: white;
		flex-direction: column;
		height: 160px;
		width: 100vw;
		color: #A6538D;
	}
	.menu{
		width: 480%;
		height: 150px;
		flex-direction: column;
		/*z-index: 99;*/
	}
	.menurolativo{
		z-index: 99;
	}
	.imgmenu{
		height: 120px;
		width: 150px;
		margin-left: 30%;
		margin-top: -6%;
	}
	.linkmenu{
		font-size: 40px;
		margin: 7px 80px;
	}
	.logo{
		display: flex;
		flex-direction: row
	}
	.vainaweb_p{
		position: absolute;
		font-size: 23px;
		right: 53%;
		top: 86%;
	}
	.vainaweb_img{
		height: 8%;
		width: 20%;
		position: absolute;
		right: 25%;
		top: 81%;
		z-index: 99;
	}
	.backgroundctts{
		margin: 0;
		padding: 0;
		width: 343vw;
	}
	.facebook{
		position: absolute;
		top: 80%;
	}
	.numero{
		position: absolute;
		top: 78%;
	}
	.p2{
		position: absolute;
		top:74%;
	}
	.p1{
		position: absolute;;
		top:70%;
	}
	.h1contato{
		position: absolute;
		top: 58%;
	}
	.imgdofooter{
		position: absolute;
		top: 26%;
		right: 100%;
	}
	.logos{
		justify-content: space-between;
	}
	.logo1, .logo2, .logo3{
		width: 30%;
		height: 6%;
		margin-left: -200px;
	}
}